################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightInformation/.vs/FlightInformation
/FlightInformation/FlightInformation/bin/Debug/net8.0
/FlightInformation/FlightInformation/obj
/FlightInformation/FlightInformationTest/bin/Debug/net8.0
/FlightInformation/FlightInformationTest/obj
